In [8]:
name = input()

In [10]:
name = input()
name

'ghjkl'

In [4]:
name = "narasimha"
city = "nellore"

In [11]:
pythagoras()

NameError: name 'pythagoras' is not defined

In [ ]:
sum()

TypeError: sum() takes at least 1 positional argument (0 given)

TypeError: sum() takes at least 1 positional argument (0 given)

In [15]:
name = input()
city =input()
addr =input()
print(name,city,addr)

narasimha narasimha nellore

In [16]:
radius = float(input("enter radius of circle"))
diameter = radius * 2
circumference = 2 * 3.14 *radius
area = 3.14 * radius **2

print(radius)
print(diameter)
print(circumference)
print(area)

5.5
11.0
34.54
94.985

In [20]:
p= int(input("enter principle amount"))
r= float(input("enter rate of intreset value"))
t= int(input("enter time of years"))
si= p*r*t/100
print(p)
print(r)
print(t)
print(si)

10000
5.0
3
1500.0

In [22]:
print("this is an example")
print("one","two","three")
print("1","2","3",4+5)
print("apple","banana","orange",sep="***")
print("😍❤️😘")

this is an example
one two three
1 2 3 9
apple***banana***orange
😍❤️😘

In [ ]:
data= int (input("enter data values"))
print(f"values => {data}")

values => 67

In [8]:
print("you see a apple seller")
q = input("do you like apples ?")

if q== 'yes':
    print('purchase 2kg of apples')
if q== 'no':
    print('you dont purchase apples')

you see a apple seller
you dont purchase apples

In [1]:
salary= 52000
if salary > 50000:
  da=.15
total = salary + salary * da
print (f"total salary is {total}")

total salary is 59800.0

In [ ]:
# solution 1
salary= 42000
da = 0
if salary > 50000:
  da=.15
total = salary + salary * da
print (f"total salary is {total}")

total salary is 42000

In [3]:
# solution 2 - use if else 
salary= 42000
if salary > 50000:
    da=.15
    total = salary + salary * da
else: 
    total = salary
print (f"total salary is {total}")

total salary is 42000

In [5]:
salary= 52000
if salary > 50000:
    da=.15
    total = salary + salary * da
    print (f"total salary is {total}")
else:
  total = salary
  print (f"total salary is {total}")

total salary is 59800.0

In [10]:
x= int(input())
y= int(input())
if x>y:
    a=x-y
else:
    a=y-x
print(a)

10

In [3]:
name= input("enter your fav movie")
if  len(name) > 10:
    print(f"long movie name:{name}")
else:
    print(f"short movie name:{name}")
print("the end")

short movie name:jalsa
the end

In [2]:
name= input("enter your fav movie")
if  len(name) > 10:
    print(f"long movie name:{name}")
else:
    print(f"short movie name:{name}")
print("the end")

long movie name:hari hara veeramalu
the end

In [1]:
a,b,c = 2,3,5
print(a,b,c)

2 3 5

In [3]:
print("what is the capital of india")
answer = input("answer")
if answer == "delhi":
    print("Your are correct")
if answer == "new delhi":
    print("Your are very correct")
if answer == "i dont know":
    print(" U must be sleeping under a rock")
if answer == "shimla":
    print("You must be from britain")

what is the capital of india
Your are very correct

In [4]:
print("what is the capital of india")
answer = input("answer")
if answer == "delhi":
    print("Your are correct")
if answer == "new delhi":
    print("Your are very correct")
if answer == "i dont know":
    print(" U must be sleeping under a rock")
if answer == "shimla":
    print("You must be from britain")

what is the capital of india
Your are correct

In [5]:
print("what is the capital of india")
answer = input("answer")
if answer == "delhi":
    print("Your are correct")
if answer == "new delhi":
    print("Your are very correct")
if answer == "i dont know":
    print(" U must be sleeping under a rock")
if answer == "shimla":
    print("You must be from britain")

what is the capital of india
 U must be sleeping under a rock

In [11]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: D

In [12]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: 🔯🔯

In [13]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: B
Your grade: C
Your grade: D

In [14]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: A
Your grade: B
Your grade: C
Your grade: D

In [ ]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("Your grade: 🔯🔯")

Your grade: A

In [16]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("Your grade: 🔯🔯")

Your grade: C

In [17]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("Your grade: 🔯🔯")

Your grade: 🔯🔯

In [19]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90 and marks <=100:
    print("Your grade: A")
if marks > 75 and marks <=90:
    print("Your grade: B")
if marks > 60 and marks <=75:
    print("Your grade: C")
if marks > 40 and marks <=60:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: C

In [22]:
# salary calculator
salary = int(input("enter your frds salary:"))
if salary > 100000:
    total = salary - salary * .2 # frds tax 20%
elif salary >80000:
    total = salary - salary * 1 
elif salary >50000:
    total = salary - salary * .05
else :
    total = salary + 10000
print(f'frds salary =>{salary}')
print(f'frds total =>{total}')

frds salary =>53300
frds total =>50635.0

In [2]:
range(1,10,2)
for i in range(1,20,2):
 print(i)

1
3
5
7
9
11
13
15
17
19

In [10]:
for i in range(0,15,5):
    print(i)

0
5
10

In [11]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [2]:
for num in range(100,201,2):
    print(num,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [8]:
colors=['red','blue','green']
print(colors)
#formatted output
for color in colors:
    print(color)

['red', 'blue', 'green']
red
blue
green

In [9]:
movies= ['jalasa','og','hariharaveramallu','gabbersing','thammudu']
for movie in movies:
    print(movie)

jalasa
og
hariharaveramallu
gabbersing
thammudu

In [13]:
for num in range(1,100,2):
    print(num,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [1]:
for i in range(1,11):
    if i%2==0:
       print(i)

2
4
6
8
10

In [7]:
for i in range (0,12):
    if i%2!=0:
       print(i)

1
3
5
7
9
11

In [10]:
nums=[1,5,11,3,12,15]
for i in nums:
    if i%2==0:
        s=i**2
        print(s)
    else:
        print("odd number")

odd number
odd number
odd number
odd number
144
odd number

In [11]:
#display cubes of odd num
num=[1,3,5,7,9]
for i in num:
    if i%2!=0:
        s=i**3
        print(s)
    else:
        prinr("even numbers")

1
27
125
343
729

In [12]:
radius=[3,5,6,11,10]
for r in radius:
    area=3.14*r**2
    print(f"the area for{r}is{r}is{area}")

the area for3is3is28.26
the area for5is5is78.5
the area for6is6is113.04
the area for11is11is379.94
the area for10is10is314.0

In [16]:
videogames=['bgmi','vicecity','8ballpool','chess','freefire','subwaysurfers','templerun','ludo']
for name in videogames:
    if name.startswith('b'):
        print(name)

bgmi

In [19]:
books=["The final empire","Warbreaker","Elntris","The wll of ascension","The alloy of law","Hero of ages","The way of kings"]
for book in books:
    if "The"in book or"of"in book:
        print(f"books->{book}")

books->The final empire
books->The wll of ascension
books->The alloy of law
books->Hero of ages
books->The way of kings

In [5]:
total=0
for num in range(10,21):
    total=total+num
print(total)

165

In [4]:
total=1
for num in range(10,21):
    total=total*num
print(total)

6704425728000

In [19]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num>m:
        m=num
print(m)

53

In [27]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for i in nums:
    if i%3== 0:
      count=count+1
print(f"total count={count}")

total count=8

In [1]:
movies=["harry potter 1","harry potter 2","harry potter 3","harry potter 4","harry potter 5","harry potter 6","harry potter 7","harry potter 8","fast and furious 1","fast and furious 2","fast and furious 3","fast and furious 4"]
movies_with_h = 0
for movie in movies:
    if movie.startswith("H")or movie.startswith("h"):
        movies_with_h +=1
    print("count",movies_with_h)

count 1
count 2
count 3
count 4
count 5
count 6
count 7
count 8
count 8
count 8
count 8
count 8

In [2]:
num=5
for i in range(num,0,-1):
    print(i)

5
4
3
2
1

In [6]:
num=9
fact= 1
for i in range(num,0,-1):
    fact = fact*i 
print(fact)

362880

In [8]:
num=9
fact= 1
for i in range(num,0,-1):
    fact = fact*i 
    print(f'{i}*{fact}')
print(fact)

9*9
8*72
7*504
6*3024
5*15120
4*60480
3*181440
2*362880
1*362880
362880

In [13]:
for i in range(1,11):
    for j in range(1,6):
     print(f"i = {i} , j = {j}")

i = 1 , j = 1
i = 1 , j = 2
i = 1 , j = 3
i = 1 , j = 4
i = 1 , j = 5
i = 2 , j = 1
i = 2 , j = 2
i = 2 , j = 3
i = 2 , j = 4
i = 2 , j = 5
i = 3 , j = 1
i = 3 , j = 2
i = 3 , j = 3
i = 3 , j = 4
i = 3 , j = 5
i = 4 , j = 1
i = 4 , j = 2
i = 4 , j = 3
i = 4 , j = 4
i = 4 , j = 5
i = 5 , j = 1
i = 5 , j = 2
i = 5 , j = 3
i = 5 , j = 4
i = 5 , j = 5
i = 6 , j = 1
i = 6 , j = 2
i = 6 , j = 3
i = 6 , j = 4
i = 6 , j = 5
i = 7 , j = 1
i = 7 , j = 2
i = 7 , j = 3
i = 7 , j = 4
i = 7 , j = 5
i = 8 , j = 1
i = 8 , j = 2
i = 8 , j = 3
i = 8 , j = 4
i = 8 , j = 5
i = 9 , j = 1
i = 9 , j = 2
i = 9 , j = 3
i = 9 , j = 4
i = 9 , j = 5
i = 10 , j = 1
i = 10 , j = 2
i = 10 , j = 3
i = 10 , j = 4
i = 10 , j = 5

In [15]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [18]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [1]:
nums=[2,5,8,11,15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
loop completed

In [8]:
nums=[2,5,8,11,15]
for n in nums:
    if n>10:
       break
    print(n)
print("loop completed")

2
5
8
loop completed

In [ ]:
value=int(input("Enter breakpoint"))
nums=[1,2,3,4,5,11,15,20,25]
for n in nums:
    if value > n:
       print("loop broken")
       break
else:
    print("loop completed")

loop broken

In [14]:
value=int(input("Enter breakpoint"))
nums=[1,2,3,4,5,11,15,20,25]
for n in nums:
    if value > n:
       print("loop broken")
else:
    print("loop completed")

loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop completed

In [25]:
num = int(input("enter a number"))
for n in range(2,num):
    if num % n==0:
        print(f"{num} not a prime number")
        break

In [24]:
num = int(input("enter a number"))
for n in range(2,num):
    if num % n==0:
        print(f"{num} not a prime number")
        break
else:
    print(f"{num} is prime number")

2 is prime number

In [28]:
x=50
while x>0:
    print(x,end=" ")
    x-=5

50 45 40 35 30 25 20 15 10 5