In [8]:
name = input()

In [10]:
name = input()
name

'ghjkl'

In [4]:
name = "narasimha"
city = "nellore"

In [11]:
pythagoras()

NameError: name 'pythagoras' is not defined

In [ ]:
sum()

TypeError: sum() takes at least 1 positional argument (0 given)

TypeError: sum() takes at least 1 positional argument (0 given)

In [15]:
name = input()
city =input()
addr =input()
print(name,city,addr)

narasimha narasimha nellore

In [16]:
radius = float(input("enter radius of circle"))
diameter = radius * 2
circumference = 2 * 3.14 *radius
area = 3.14 * radius **2

print(radius)
print(diameter)
print(circumference)
print(area)

5.5
11.0
34.54
94.985

In [20]:
p= int(input("enter principle amount"))
r= float(input("enter rate of intreset value"))
t= int(input("enter time of years"))
si= p*r*t/100
print(p)
print(r)
print(t)
print(si)

10000
5.0
3
1500.0

In [22]:
print("this is an example")
print("one","two","three")
print("1","2","3",4+5)
print("apple","banana","orange",sep="***")
print("😍❤️😘")

this is an example
one two three
1 2 3 9
apple***banana***orange
😍❤️😘

In [ ]:
data= int (input("enter data values"))
print(f"values => {data}")

values => 67

In [8]:
print("you see a apple seller")
q = input("do you like apples ?")

if q== 'yes':
    print('purchase 2kg of apples')
if q== 'no':
    print('you dont purchase apples')

you see a apple seller
you dont purchase apples

In [1]:
salary= 52000
if salary > 50000:
  da=.15
total = salary + salary * da
print (f"total salary is {total}")

total salary is 59800.0

In [ ]:
# solution 1
salary= 42000
da = 0
if salary > 50000:
  da=.15
total = salary + salary * da
print (f"total salary is {total}")

total salary is 42000

In [3]:
# solution 2 - use if else 
salary= 42000
if salary > 50000:
    da=.15
    total = salary + salary * da
else: 
    total = salary
print (f"total salary is {total}")

total salary is 42000

In [5]:
salary= 52000
if salary > 50000:
    da=.15
    total = salary + salary * da
    print (f"total salary is {total}")
else:
  total = salary
  print (f"total salary is {total}")

total salary is 59800.0

In [10]:
x= int(input())
y= int(input())
if x>y:
    a=x-y
else:
    a=y-x
print(a)

10

In [3]:
name= input("enter your fav movie")
if  len(name) > 10:
    print(f"long movie name:{name}")
else:
    print(f"short movie name:{name}")
print("the end")

short movie name:jalsa
the end

In [2]:
name= input("enter your fav movie")
if  len(name) > 10:
    print(f"long movie name:{name}")
else:
    print(f"short movie name:{name}")
print("the end")

long movie name:hari hara veeramalu
the end

In [1]:
a,b,c = 2,3,5
print(a,b,c)

2 3 5

In [3]:
print("what is the capital of india")
answer = input("answer")
if answer == "delhi":
    print("Your are correct")
if answer == "new delhi":
    print("Your are very correct")
if answer == "i dont know":
    print(" U must be sleeping under a rock")
if answer == "shimla":
    print("You must be from britain")

what is the capital of india
Your are very correct

In [4]:
print("what is the capital of india")
answer = input("answer")
if answer == "delhi":
    print("Your are correct")
if answer == "new delhi":
    print("Your are very correct")
if answer == "i dont know":
    print(" U must be sleeping under a rock")
if answer == "shimla":
    print("You must be from britain")

what is the capital of india
Your are correct

In [5]:
print("what is the capital of india")
answer = input("answer")
if answer == "delhi":
    print("Your are correct")
if answer == "new delhi":
    print("Your are very correct")
if answer == "i dont know":
    print(" U must be sleeping under a rock")
if answer == "shimla":
    print("You must be from britain")

what is the capital of india
 U must be sleeping under a rock

In [11]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: D

In [12]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: 🔯🔯

In [13]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: B
Your grade: C
Your grade: D

In [14]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
if marks > 75:
    print("Your grade: B")
if marks > 60:
    print("Your grade: C")
if marks > 40:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: A
Your grade: B
Your grade: C
Your grade: D

In [ ]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("Your grade: 🔯🔯")

Your grade: A

In [16]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("Your grade: 🔯🔯")

Your grade: C

In [17]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90:
    print("Your grade: A")
elif marks > 75:
    print("Your grade: B")
elif marks > 60:
    print("Your grade: C")
elif marks > 40:
    print("Your grade: D")
elif marks < 40:
    print("Your grade: 🔯🔯")

Your grade: 🔯🔯

In [19]:
marks = int(input("enter your total marks in 10th:"))
if marks > 90 and marks <=100:
    print("Your grade: A")
if marks > 75 and marks <=90:
    print("Your grade: B")
if marks > 60 and marks <=75:
    print("Your grade: C")
if marks > 40 and marks <=60:
    print("Your grade: D")
if marks < 40:
    print("Your grade: 🔯🔯")

Your grade: C

In [22]:
# salary calculator
salary = int(input("enter your frds salary:"))
if salary > 100000:
    total = salary - salary * .2 # frds tax 20%
elif salary >80000:
    total = salary - salary * 1 
elif salary >50000:
    total = salary - salary * .05
else :
    total = salary + 10000
print(f'frds salary =>{salary}')
print(f'frds total =>{total}')

frds salary =>53300
frds total =>50635.0